DASHBOARD_HOST=0.0.0.0
DASHBOARD_PORT=8000
AGENT_URLS=http://192.168.1.101:8080,http://192.168.1.102:8080,http://192.168.1.103:8080
PODFACTORY_API_KEY=
PODFACTORY_MONGO_URI=
DASHBOARD_DB_PATH=printflow.db
